<div class="{{ spacingY }} bg-{{ section.background_colour ? section.background_colour : 'white' }}">
    <div class="container">
        {% if section.title or section.pre_copy %}
            <div class="flex flex-wrap">
                <div class="w-full {{ section.pre_image ? 'lg:w-2/3' }}">
                    <div class="copy">
                        {% if section.title %}<h2>{{ section.title }}</h2>{% endif %}
                        {% if section.pre_copy %}{{ section.pre_copy }}{% endif %}
                    </div>
                </div>
                {% if section.pre_image %}
                    <div class="hidden lg:flex lg:w-1/3 lg:pl-16 pb-8">
                        {% include "_atoms/picture.twig" with {
                            source: section.pre_image.url,
                            pictureClasses: 'relative z-0',
                            lazyload: true,
                            breakpoints: {
                                "1px" : {
                                    w: 360,
                                    h: null,
                                    crop: 'center'
                                },
                            },
                            img: {
                                classes: 'lazyload object-contain object-center',
                                w: 360,
                                h: null,
                                crop: 'center',
                            }
                        } %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="flex flex-wrap -m-4">
            {% for item in section.block %}
                <div class="w-full p-4 sm:w-1/2 {{ section.block|length > 2 ? 'lg:w-1/3' }}">
                    <div class="bg-primary text-white p-6 rounded-tr-3xl flex flex-col h-full">
                        {% if item.icon %}<img src="" data-src="{{ item.icon.url|resize(200) }}" class="lazyload w-16 h-16 mb-4 object-center object-contain">{% endif %}
                        {% if item.title %}
                            {% if item.link %}
                                <a href="{{ item.link }}" class="text-lg sm:text-xl lg:text-2xl font-heading text-secondary leading-tight underline hover:text-white">{{ item.title }}</a>
                            {% else %}
                                <span class="text-lg sm:text-xl lg:text-2xl font-heading text-secondary leading-tight">{{ item.title }}</span>
                            {% endif %}
                        {% endif %}
                        {% if item.copy %}
                            <div class="mt-4 text-sm copy dark-copy">
                                {{ item.copy }}
                            </div>
                        {% endif %}
                    </div> 
                </div>
            {% endfor %}
        </div>

        {% if section.after_copy %}
            <div class="copy mt-8">
                {% if section.after_copy %}{{ section.after_copy }}{% endif %}
            </div>
        {% endif %}
    </div>
</div>