<section class="{{ spacingY }} bg-{{ section.background_colour ? section.background_colour : 'white' }}">
    <div class="container">
        {% for row in section.copy_rows %}
            {% set even = loop.index is even %}
            <div class="flex flex-wrap {{ even ? 'lg:flex-row-reverse' : 'lg:flex-row' }}">
                <div class="w-full lg:w-3/5 lg:pr-8">
                    <div class="copy">
                        {% if row.h1 %}<h1>{{ row.h1 }}</h1>{% endif %}
                        {{ row.copy }}
                    </div>
                    <div class="flex flex-wrap mt-4">
                        {% for button in row.buttons %}
                            {% include "_atoms/button.twig" with {
                                link: button.button.url,
                                text: button.button.title,
                                colour: button.colour,
                                classes: 'mt-2 mr-2',
                            } %}
                        {% endfor %}
                    </div>
                </div>

                <div class="w-full mt-8 lg:mt-0 lg:w-2/5 lg:pl-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-6 md:gap-8">
                        {% for side in row.sidebar %}
                            {% include "_sidebar/"~side.acf_fc_layout|replace({"_":"-"})~".twig" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>