<a href="{{ post.link }}" class="flex flex-col transform hover:scale-103 rounded-tr-3xl bg-secondary-pale h-full">
    {% include "_atoms/picture.twig" with {
        source: post.thumbnail.src,
        pictureClasses: 'relative z-0',
        lazyload: true,
        breakpoints: {
            "1px" : {
                w: 600,
                h: 350,
                crop: 'center'
            },
        },
        img: {
            classes: 'lazyload rounded-tr-3xl',
            w: 600,
            h: 350,
            crop: 'center',
            alt: post.thumbnail.alt
        }
    } %}

    <span class="px-6 pt-6 flex flex-col items-start">
        <span class="block">
            {% for term in post.terms %}
                <span class="font-medium inline text-xs text-secondary-extraDark">{{ term.name }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>

        <span class="mt-2 font-heading text-primary text-xl sm:text-2xl leading-tight">{{ post.title }}</span>

        {% set excerptLength = (3000 / post.title|length)|round %}
        {% set excerpt = false %}
        {% for section in post.meta('page_layout') %}
            {% if excerpt == false %}
                {% if section.acf_fc_layout %}
                    {% set excerpt = section.copy_rows.0.copy %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if excerpt %}<span class="text-sm mt-2">{{ excerpt|striptags|slice(0,excerptLength) }}...</span>{% endif %}

    </span>
    <span class="px-6 pb-6 pt-4 mt-auto">
        <span class="mt-auto w-full btn btn-secondary justify-center">Read more {{ fn('icon','angles-right') }}</span>
    </span>
</a>