<div class="relative flex flex-col transform hover:scale-103 rounded-tr-3xl bg-secondary-pale h-full transition-all">
    <a href="{{ post.link }}" class="absolute inset-0 w-full h-full opacity-0 z-10">{{ post.title }}</a>

    <span class="px-6 pt-6 flex flex-col items-start">

        <span class="mt-2 font-heading text-primary text-xl sm:text-2xl lg:text-3xl leading-tight">{{ post.title }}</span>

        <div class="copy -mb-6 mt-4">
            {% if post.meta('practice_description') %}
                {{ post.meta('practice_description') }}
            {% endif %}
        </div>

    </span>
    <span class="px-6 pb-6 pt-4 mt-auto">
        <span class="mt-auto w-full btn btn-secondary justify-center">View practice {{ fn('icon','angles-right') }}</span>
    </span>
</div>